<div id="task-list-container">
    <ul class="task-list">
        <li class="task-item" *ngFor="let task of listOfTasks">
            <span class="task-name">{{task.taskName}}</span>
            <button *ngIf="task.taskDone" id="task-done-button"><i class="fa-solid fa-check"></i></button>
            <button *ngIf="!task.taskDone" id="task-done-button"><i class="fa-solid fa-xmark"></i></button>
            <button id="task-expand-button"><i class="fa-solid fa-angle-down"></i></button>
        </li>
    </ul>
</div>